# ~/.config/fish/config.fish

# determine which linux we are on
if [ -f /etc/os-release ]
    set -l __xyz (while read -la line; string match -e -r '^ID=' $line; end < /etc/os-release)
    set _distribution (string replace -r '^ID=' '' $__xyz)
end

# fish vars
# =========
set fish_greeting
set fish_prompt_pwd_dir_length 3

# path
# ====
if test -d "$HOME/.local/bin"
    contains $HOME/.local/bin $PATH; or set PATH $PATH $HOME/.local/bin
end

if test -d "$HOME/.cargo/bin"
    contains $HOME/.cargo/bin $PATH; or set PATH $PATH $HOME/.cargo/bin
end

if test -d "$HOME/.go/bin"
    contains $HOME/.go/bin $PATH; or set PATH $PATH $HOME/.go/bin
end

if status --is-interactive
    set -x LC_MESSAGES en_US.UTF-8
end
set -x EDITOR nvim
set -x VISUAL nvim
# pacdiff reads $DIFFPROG
set -x DIFFPROG nvim -d
set -x PAGER less
set -x LESS -R -M -i -w
set -x MOZ_ENABLE_WAYLAND 1
set -x PRINTER GraustufenNormalDuplex
set -x ANTHROPIC_API_KEY "{{ pass "ANTHROPIC_API_KEY" }}"
set -x GOPATH $HOME/.go
set -x MPD_PORT 6601
# set -x QT_QPA_PLATFORM wayland # keepassxc

# fzf ignores hidden dirs + files per default
# fzf_fd_opts is read from .config/fish/functions/_fzf_search_directory.fish (fish plugin fzf)
set -x fzf_fd_opts --hidden
# fzf: open file under cursor in $EDITOR (nvim)
set -x fzf_directory_opts --bind "ctrl-o:execute($EDITOR {} &> /dev/tty)"
# prompt at the bottom
set -x FZF_DEFAULT_OPTS '--layout=reverse-list'
# set -x EZA_COLORS $(vivid generate catppuccin-mocha)
set -x EZA_COLORS $(vivid generate tokyonight-moon)
# my var _EZA_OPTS for use in this config
#set -x _EZA_OPTS '--icons=auto --group-directories-first'
# set EZA_STANDARD_OPTIONS without --header
# set -Ux EZA_STANDARD_OPTIONS --group --group-directories-first
set -Ux EZA_STANDARD_OPTIONS --group --group-directories-first --icons=auto
# set -x EZA_STANDARD_OPTIONS '--group --group-directories-first'

# key bindings
# ============
# fzf (a fisher plugin) bindings
# \e = ALT key, case sensitive
#fzf_configure_bindings --directory=\eF --processes=\eP --history=\eH --variables=\eV

# ALT+- copy word from left of cursor to right of cursor
bind \e- beginning-of-line forward-word kill-line yank yank

# program vars
# ============
if test "$hostname" = jazz
    set -x CDR_DEVICE /dev/cdrom
    set -x MPD_PORT 6601
end

if set -q _distribution
    switch $_distribution
        case arch
            # Lesspipe.sh uses bat as syntax colorizer per default,
            # so install bat, too.
            set -x LESSOPEN '|/usr/bin/lesspipe.sh %s'
        case ubuntu
            set -x LESSOPEN '|/usr/bin/lesspipe %s'
        case debian
            set -x LESSOPEN '|/usr/bin/lesspipe %s'
    end
end

# user abbreviations
# ==================
if status --is-interactive
    set -g fish_user_abbreviations
    abbr -a b bat
    abbr -a c cat
    abbr -a cd.. 'cd ..'
    abbr -a cd... 'cd ../..'
    abbr -a dfh 'df -h'
    abbr -a e echo
    abbr -a f functions
    abbr -a jc journalctl
    abbr -a md mkdir
    abbr -a o less
    abbr -a psg 'pgrep -a'
    abbr -a px 'ps aux'
    abbr -a pxw 'ps auxwww'
    abbr -a sc systemctl
    abbr -a ssc 'sudo systemctl'
    abbr -a v nvim
    abbr -a vd 'nvim -d'
    abbr -a nd 'nvim -d'
    abbr -a gaa 'git add --all'
    abbr -a ga 'git add'
    abbr -a gap 'git add --patch -v'
    abbr -a gba 'git --no-pager branch --all -vv'
    abbr -a gb 'git --no-pager branch -vv'
    abbr -a gca 'git commit -v -a'
    abbr -a gca! 'git commit -v -a --amend'
    abbr -a gcam 'git commit --all -m'
    abbr -a gcb 'git checkout -b'
    abbr -a gc 'git commit -v'
    abbr -a gc! 'git commit -v --amend'
    abbr -a gcl 'git clone'
    abbr -a gcm 'git commit -m'
    abbr -a gco 'git checkout'
    abbr -a gcom 'git checkout master'
    abbr -a gcot 'git checkout testing'
    abbr -a gcp 'git cherry-pick'
    abbr -a gdca 'git diff --cached'
    abbr -a gd 'git diff'
    abbr -a g git
    abbr -a gl 'git log --name-status'
    abbr -a glog 'git log --oneline --decorate --color --graph'
    abbr -a glo 'git log --oneline --decorate --color'
    abbr -a gloo 'git log --pretty=format:"%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s" --date=short'
    abbr -a gls 'git ls-files'
    abbr -a gm 'git merge'
    abbr -a gpl 'git pull'
    abbr -a gpu 'git push'
    abbr -a gpugh 'git push github'
    abbr -a gr 'git remote -vv'
    abbr -a grs 'git remote -vv show'
    abbr -a grso 'git remote show origin'
    abbr -a gsh 'git show'
    abbr -a gshort 'git --no-pager shortlog'
    abbr -a gss 'git status -s'
    abbr -a gst 'git status'
    abbr -a sv 'sudo -E nvim'
    abbr -a ttl 'tmux ls'
    abbr -a tta 'tmux attach -t'
    abbr -a lsmnt 'findmnt -n --real -l -o "SOURCE,TARGET,FSTYPE,USE%"'
    abbr -a monit-view 'elinks http://cs@localhost:2812'
    abbr -a hm 'history merge'
    abbr -a rr ranger
    abbr -a sd sudo
    abbr -a L --position anywhere "| less"
    abbr -a G --position anywhere "| grep"
    abbr -a M --position anywhere "| more"
    abbr -a rd 'rezept-drucken.sh'
    abbr -a rs 'rezept-suchen.sh'
    abbr -a lg lazygit

    #abbr -a ltree 'eza --tree'
    abbr -a vc 'sudo -e /etc/crontab'
    abbr -a mrst 'mr status'
    abbr -a mrup 'mr update'
    abbr -a vcfi 'vcsh fish'
    abbr -a vcki 'vcsh kickstart-nvim'
    abbr -a vckt 'vcsh kitty'
    abbr -a vctm 'vcsh tmux'
    abbr -a vcjr 'vcsh jrnl'
    abbr -a vcst 'vcsh starship'
    abbr -a vcmr 'vcsh mr'
    abbr -a vcse 'vcsh setup-home'
    abbr -a vchl 'vcsh hyprland'
    abbr -a vcro 'vcsh hyprland-rofi'
    abbr -a vcwb 'vcsh hyprland-waybar'
    abbr -a dush 'du -sh'

    # abbreviations for distributions
    # ===============================
    if set -q _distribution
        switch $_distribution
            case ubuntu
                abbr -a acs 'apt-cache search'
                abbr -a acsh 'apt-cache show'
                abbr -a acp 'apt-cache policy'
                abbr -a aptu 'sudo apt update'
                abbr -a apti 'sudo apt install'
                abbr -a aptp 'sudo apt purge'
                abbr -a auf 'sudo apt update && sudo apt full-upgrade'
                abbr -a ubuntu-update 'sudo apt update && sudo apt full-upgrade && sudo apt autoremove'
                abbr -a uu 'sudo apt update && sudo apt full-upgrade && sudo apt autoremove'
                abbr -a aptrm 'sudo apt remove'
                abbr -a aptau 'sudo apt autoremove'
                abbr -a pwrof 'systemctl poweroff -i'
                abbr -a jj jrnl
                abbr -a ydl youtube-dl
                abbr -a xo xdg-open
                abbr -a vcst 'vcsh status'
                abbr -a tt 'todo-txt -d ~/.config/todo/config'
            case arch
                abbr -a pwrof 'systemctl poweroff -i'
                # abbr -a au 'arch-update -y'
                # abbr -a au 'yay && pacdiff -s'
                abbr -a au 'sudo pacman -Syu && pacdiff -s && yay -aSyu'
                abbr -a pS 'sudo pacman -S'
                abbr -a pSs 'pacman -Ss'
                abbr -a pSyu 'sudo pacman -Syu'
                abbr -a pRns 'sudo pacman -Rns'
                abbr -a pQs 'pacman -Qs'
                abbr -a vcst 'vcsh status'
                abbr -a xo xdg-open
                abbr -a jj jrnl
                # abbr -a ydl youtube-dl
                abbr -a yt yt-dlp
                #abbr -a jpop 'remote-login-tmux jpop'
                #abbr -a ska 'remote-login-tmux ska'
                abbr -a tt 'todo.sh'
                # these are functions now (created with alias -s)
                # abbr -a mutt-gmail '/usr/bin/neomutt -F ~/.config/mutt/gmail_main_muttrc'
                # abbr -a mutt-gmx '/usr/bin/neomutt -F ~/.config/mutt/gmx_main_muttrc'
                # abbr -a mutt-mailbox '/usr/bin/neomutt -F ~/.config/mutt/mailbox_main_muttrc'
                # abbr -a ls eza --group --group-directories-first --icons=auto
            case debian
                abbr -a acs 'apt-cache search'
                abbr -a acsh 'apt-cache show'
                abbr -a acp 'apt-cache policy'
                abbr -a aptu 'sudo apt update'
                abbr -a apti 'sudo apt install'
                abbr -a aptp 'sudo apt purge'
                abbr -a auf 'sudo apt update && sudo apt full-upgrade'
                abbr -a debian-update 'sudo apt update && sudo apt full-upgrade && sudo apt autoremove'
                abbr -a aptrm 'sudo apt remove'
                abbr -a aptau 'sudo apt autoremove'
                abbr -a vcst 'vcsh status'
        end # switch
    end # if set -q _distribution

    # completions for django
    # https://github.com/apie/fish-django-completions
    #if test -f $HOME/.config/fish/functions/__fish_complete_django.fish
    #    __fish_complete_django django-admin.py
    #    __fish_complete_django manage.py
    #end

    # initialize starship prompt
    if status is-interactive && command -sq starship
        starship init fish | source
        enable_transience
    end

    # =============================================================================
    #
    # To initialize zoxide, add this to your configuration (usually
    # ~/.config/fish/config.fish):
    #
    set -x _ZO_ECHO 1
    if command -sq zoxide
        # zoxide init fish | source
        #zoxide init --cmd cd fish | source
        zoxide init --cmd j fish | source
    end
    #
    # Note: zoxide only supports fish v3.4.0 and above.

    # >>> conda initialize >>>
    # !! Contents within this block are managed by 'conda init' !!
    #eval /home/cs/Programme/anaconda3/bin/conda "shell.fish" "hook" $argv | source
    # <<< conda initialize <<<
    #conda deactivate

    # pnpm
    set -gx PNPM_HOME "/home/cs/.local/share/pnpm"
    if not string match -q -- $PNPM_HOME $PATH
        set -gx PATH "$PNPM_HOME" $PATH
    end
    # pnpm end

    # # initialize atuin
    # set -gx ATUIN_NOBIND true
    # # atuin init fish --disable-up-arrow | source
    # atuin init fish | source
    # bind \cr _atuin_search
    # bind -M insert \cr _atuin_search
    # bind \e\[1\;5A _atuin_bind_up
    # # bind -M insert \e\[1\;5A _atuin_bind_up

    # fzf
    fzf --fish | source

    # Added by LM Studio CLI (lms)
    export PATH="$PATH:/home/cs/.lmstudio/bin"
    # End of LM Studio CLI section

end # status --is-interactive
