alias ,a="$EDITOR ~/.local/share/chezmoi/.chezmoitemplates/aliases.tmpl"
alias ,b="chezmoi edit --apply ~/.bashrc"
alias ,c="sudo nvim /etc/crontab"
alias ,f="chezmoi edit --apply ~/.config/fish/config.fish"
alias ,h="chezmoi edit --apply ~/.config/hypr/hyprland.conf"
alias ,k="chezmoi edit --apply ~/.config/kitty/kitty.conf"
alias ,n="chezmoi edit --apply ~/.config/niri/config.kdl"
alias ,z="chezmoi edit --apply ~/.zshrc"
alias ...="cd ../.."
alias ..="cd .."
alias au="sudo pacman -Syu && pacdiff -s && yay -aSyu"
alias b="bat"
alias c="cat"
alias cd...="cd ../.."
alias cd..="cd .."
alias cm="chezmoi"
alias cme="chezmoi edit"
alias cma="chezmoi apply"
alias cmea="chezmoi edit --apply"
alias cmd="chezmoi diff"
alias cms="chezmoi status"
alias dfh="df -h"
alias e="echo"

# git aliases
alias g="git"
alias ga="git add"
alias gaa="git add --all"
alias gap="git add --patch -v"
alias gb="git --no-pager branch -vv"
alias gba="git --no-pager branch --all -vv"
alias gc!="git commit -v --amend"
alias gc="git commit -v"
alias gca!="git commit -v -a --amend"
alias gca="git commit -v -a"
alias gcam="git commit --all -m"
alias gcb="git checkout -b"
alias gcl="git clone"
alias gcm="git commit -m"
alias gco="git checkout"
alias gcom="git checkout master"
alias gcot="git checkout testing"
alias gcp="git cherry-pick"
alias gd="git diff"
alias gdca="git diff --cached"
alias gl="git log --name-status"
alias glo="git log --oneline --decorate --color"
alias glog="git log --oneline --decorate --color --graph"
alias gloo="git log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short"
alias gls="git ls-files"
alias gm="git merge"
alias gpl="git pull"
alias gpu="git push"
alias gr="git remote -vv"
alias grep="grep --color=auto"
alias grs="git remote -vv show"
alias grso="git remote show origin"
alias gsh="git show"
alias gshort="git --no-pager shortlog"
alias gss="git status -s"
alias gst="git status"

# systemd/journalctl aliases
alias jc="journalctl"
alias jcd="journalctl --dmesg --follow --no-tail"
alias mess="journalctl --system --follow --no-tail"
alias sc="systemctl"
alias ssc="sudo systemctl"
alias pwrof="systemctl poweroff -i"

# _eza_options=("--group" "--group-directories-first" "--icons=auto" "--color=auto")
# exa/eza aliases (ls replacement)
# shellcheck disable=SC2139 # This expands when defined, not when used. Consider escaping.
alias l1="eza $_eza_options --long --oneline"
# alias l="eza --icons=auto --color=auto --group-directories-first --long --git --git-ignore"
alias l="eza $_eza_options --long --git --git-ignore"
# shellcheck disable=SC2139 # This expands when defined, not when used. Consider escaping.
alias lD="eza $_eza_options --long --only-dirs"
alias lS="eza --group --icons=auto --color=auto --sort=size --oneline --only-files --long"
alias lT="eza --group --icons=auto --color=auto --sort=oldest --reverse --oneline --only-files --long"
alias la="eza --group-directories-first --color=auto --icons=auto -a"
# shellcheck disable=SC2139 # This expands when defined, not when used. Consider escaping.
alias ld="eza $_eza_options --long --only-dirs --show-symlinks"
alias lf="eza --group --long --icons=auto --color=auto --only-files"
alias lg="lazygit"
# shellcheck disable=SC2139 # This expands when defined, not when used. Consider escaping.
alias ll="eza $_eza_options --long --git --all"
alias ls="eza --icons=auto --color=auto --group-directories-first"
# shellcheck disable=SC2139 # This expands when defined, not when used. Consider escaping.
alias ltree="eza $_eza_options --long --tree"

# neomutt aliases
alias mutt-gmail-main="neomutt -F ~/.config/neomutt/gmail_main_muttrc"
alias mutt-gmx-main="neomutt -F ~/.config/neomutt/gmx_main_muttrc"
alias mutt-mailbox-main="neomutt -F ~/.config/neomutt/mailbox_main_muttrc"

# nvim and vim aliases
alias nd="nvim -d"
alias vd="nvim -d"
alias sv="sudo nvim"
alias v="nvim"
alias vnbk="nvim -c 'set nobackup'"
alias vc="sudo -e /etc/crontab"

alias jj="jrnl"
alias lsmnt="findmnt -n --real -l -o 'SOURCE,TARGET,FSTYPE,USE%'"
alias md="mkdir"
alias o="less"
alias pRns="sudo pacman -Rns"
alias pS="sudo pacman -S"
alias pSs="pacman -Ss"
alias pSyu="sudo pacman -Syu"
alias psg="pgrep -a"
alias px="ps aux"
alias pxw="ps auxwww"
alias rd="rezept-drucken.sh"
alias rs="rezept-suchen.sh"
alias so="source"
alias s="sudo"
alias ta="tmux attach -t"
alias tl="tmux list-sessions"
alias ts="tmux new-session -s"
alias t="todo.sh"
alias tw="if tmux has -t work; then tmux attach -t work; else tmux new -s work; fi"
alias xo="xdg-open"
alias yt="yt-dlp"
alias extip="dig +short myip.opendns.com @resolver1.opendns.com"
